name: CI (test coverage)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    strategy:
      fail-fast: false
      matrix:
        timezone:
          - "America/New_York"
          - "Europe/London"
          - "Asia/Tokyo"
          - "UTC"

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24.11.1

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Set timezone to ${{ matrix.timezone }}
        run: |
          sudo timedatectl set-timezone ${{ matrix.timezone }}
          date

      - name: Run tests in ${{ matrix.timezone }} timezone
        run: |
          pnpm test:coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        if: ${{ matrix.timezone == 'UTC' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: still-forest/proper-date.js
