name: CI (test coverage)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    strategy:
      fail-fast: false
      matrix:
        timezone:
          - "America/New_York"
          - "Europe/London"
          - "Asia/Tokyo"
          - "UTC"

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.14.0

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Set timezone to ${{ matrix.timezone }}
        run: |
          sudo timedatectl set-timezone ${{ matrix.timezone }}
          date

      - name: Run tests in ${{ matrix.timezone }} timezone
        run: |
          pnpm test:coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        if: ${{ matrix.timezone == 'UTC' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: still-forest/proper-date.js
